numpy
pandas
matplotlib
seaborn
jupyterlab
notebook
scipy
scikit-learn
imbalanced-learn
tensorflow
Kaggle
wandb
pillow
pydot
graphviz
tensorflow_hub
opencv-python
keras-cv
ultralytics
deepface
xgboost
